<div id="login">
  <form>
    <h1>Welcome</h1>
    {{!-- <button> --}}
      <a href="/auth/google" class="btn btn-default">Log in</a>
    {{!-- </button> --}}
  </form>
</div>

<div class="video-background">
  <div class="video-foreground">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gpPMNpMFTqU?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=gpPMNpMFTqU" frameborder="0" allowfullscreen></iframe>
  </div>
</div>