<div id="MenuIcon">
    <div id="MenuLine"></div>
</div>



<div>
  
  <center>
    <h1> Profile Page </h1>
    <img src="http://via.placeholder.com/150x150">
    {{#each User}}
    <p>ID:{{this.id}}</p>
    <p>Name:{{this.userName}}</p>
    <p>Email:{{this.email}}</p>
    <p>Points:{{this.points}}</p>
    

    {{/each}}



  </center>

</div>


<div id="MainMenu">
  <br><br><br>
    <div id="logo"><img src="assets/images/resqqssff.png" height="75px" width="75px"/></div>
    <ul>
        <li><a href="/profile">Profile</a><div class="line"></div></li>
        <li><a href="/dashboard">View Map</a><div class="line"></div></li>
        <li><a href="user/:id/event/new">Create Event</a><div class="line"></div></li>
        <li><a href="user/:id/events">View my Events</a><div class="line"></div></li>
        <li>Add an issue (coming Soon)<div class="line"></div></li>
        <li>Logout<div class="line"></div></li>
        <li><div id="close"><img src="assets/images/close.png" height="30px" width="30px"/></div></li>
    </ul>

</div>
